*, *>* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}



.cell-content {
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	width: 156px;
	height: 156px;
	background-color: violet;
	padding: 6px;
}
.cell-content p {
	width: 100%;
	margin: 0;
	text-align: center;
}

.cell-content p.name {
	margin-bottom: 24px;
}

.cell-content p.countdown-days span.countdown-hours {
	font-size: 80%;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.cell-content:hover p.countdown-days span.countdown-hours {
	opacity: 1;
}

.countdown-days {

}
.countdown-hours {

}


#newBottleModal {
	position: absolute;
	display: block;
	width: 450px;
	height: 240px;
	padding: 24px;
	background-color: #f4f4f4;
	text-align: center;
	top: 120px;
	left: calc(50vw - 225px);
	box-shadow: -3px 3px 6px 1px #5c5c5c;
}
span#closeNewBottleModal {
	position: absolute;
	top: -30px;
	right: -30px;
	height: 60px;
	width: 60px;
	font-size: 55px;
	text-align: center;
	line-height: 60px;
	font-family: consolas;
	font-stretch: expanded;

}